/* Universal Styles */

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
    background-color: white;
}

.container {
    margin: auto;
}

.left-section {
    width: 100%;
    padding: 1.77rem 1.33rem;
}

.right-section {
    width: 24.44rem;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.9rem;
    color: rgba(56, 50, 25, 0.9);
    font-weight: normal;
}

h6 {
    font-family: 'Cantarell', sans-serif;
    font-size: 1.10rem;
    color: #383838;
    font-weight: 700;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.1rem;
    color: gray;
}

a {
    font-family: 'Fjalla One', sans-serif;
}

.left-section img {
    width: 100%;
}

.left-section p {
    padding: 1.33rem 1.33rem 1.33rem 0;
}


/* Header Section */

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.55rem;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;

}

@media only screen and (max-width: 480px) {
    nav .mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: left;
        padding: 0 1.33rem;
        cursor: pointer;
    }

    img.mobile-icon {
        background-color: white;
        border-radius: 50%;
        transition-duration: 0.4s;
        padding: .3rem;
    }

    img.mobile-icon:hover {
        background-color: rgb(189, 222, 235);
    }

    .desktop, .logo img, .colmar, .academy {
        display: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    height: 1.77rem;
    padding-left: 1.33rem;
}

.colmar {
    font-size: 1rem;
    font-weight: 750;
}

.academy {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

/* Navigation */

nav {
    text-align: right;
    flex-grow: 1;
}

.desktop a {
    display: inline-block;
    padding-right: .88rem;
    color: #383838;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
} 

.desktop a:hover {
    color: rgb(76, 185, 228);
}



@media only screen and (min-width: 480px) {
nav .mobile {
    display: none;
}
}

/* Main Banner Section */

.main-banner {
    background: rgba(255, 231, 140, 0.5);
    margin: 0 auto;
}

.main-banner .container {
    display: flex;
    justify-content: space-between;
    padding-top: 3.55rem;

}

.cta {
    height: auto;
    padding-left: 1.33rem;
    margin-right: 3.33rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.15rem;
    color: rgb(133, 47, 130);
    font-weight: 550;
    letter-spacing: 1px;
    
}

.cta h4 {
    font-family: 'Cantarell', sans-serif;
    margin: 1.77rem 0;
    font-size: 1.25rem;
    color: #383838;
    font-weight: 510;
    line-height: 1.45rem; 
}


.cta .button {
    font-family: 'Fgalla One', sans-serif;
    background: rgba(0, 24, 25, 0.6);
    color: white;
    padding: .88rem 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 0.6s;
}

.button:hover {
    background-color: rgb(246, 251, 253);
    color: rgb(76, 185, 228);

}

@media only screen and (max-width: 800px) {
    .main-banner .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .main-banner .left-section {
        padding: 0;
    }

    .right-section {
        width: 100%;
    }

    .right-section .cta {
        margin: 1.77rem 1.33rem;
        padding-left: 0px;
        align-items: center;
    }

    .cta h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .cta h4 {
        font-size: 1rem;
        text-align: center;
    }

    .cta .button {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .cta .button {
        width: 100%;
    }
}

/* Inspiration and information section */

.information {
    display: flex;
    justify-content: space-between;
}

.left-section h2 {
    padding-top: 1.33rem;
}

span {
    font-family: 'Fjalla One', sans-serif;
    font-size: .65rem;
    color: #383838;
    line-height: .95rem;
}

.information .right-section {
    border-left: 1px solid #DCDCDC;
    padding: 0.88rem 0 1.77rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box img.desktop {
    width: 35%;
    padding: 0.88rem;
}

.box img.mobile {
    display: none;
}

.content {
    padding: 0.88rem 0.05rem 0.88rem 0;
    width: 100%;
}

.content p {
    padding-top: 0.44rem;
}

.content a {
    color: rgb(76, 185, 228);
    text-decoration: none;
    font-size: 0.77rem;
    display: block;
    padding-top: 0.9rem;
    transition-duration: 0.4s;
}

.content a:hover {
    color: rgba(0, 24, 25, 1)
}

.second-info {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.third-info {
    background: rgba(178, 158, 80, 0.3);
}

@media only screen and (max-width: 480px) {
    .information .left-section {
        display: none;
    }

    .information .right-section {
        padding: .8rem .8rem 1.77rem .8rem;
        border-left: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column; 
    }

    .box img, .desktop {
        display: none;
    }

    .box img, .mobile {
        display: flex;
        width: 100%;
    }

    .content {
        padding: 0px;
        width: 100%;
        margin-top: .8rem;
    }
}

/* Courses section */

.headline {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 1.77rem 0;
}

.courses {
    background: rgba(166, 255, 243, 0.3);
    padding-bottom: 1.77rem;
    display: flex;
    justify-content: space-between;
}

.courses-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.course {
    background-color: white;
    width: 30%;
    height: 16rem;
    margin-bottom: 1.11rem;
}

.course img {
    width: 100%;
}

.course-content {
    padding: 0.88rem 0.88rem 1.33rem 0.88rem;
}

.course h6 {
    padding-bottom: 1rem;
}

.course-content span {
    font-family: 'Fjalla One', sans-serif;
    font-size: .8rem;
    color: gray;
    line-height: .95rem;
    font-size: .75rem;
}

.course p {
    padding-top: .55rem;
}

.courses-list {
    display: none;
}

@media only screen and (max-width: 480px) {
    .courses .container {
        margin: 0 auto;
        width: 90%;
    }
    .courses-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: .8rem 0;
    }

    .courses-list a {
        background-color: rgb(243, 238, 221);
        color:rgba(0, 24, 25, 0.6);
        text-decoration: none;
        padding: .8rem;
        margin-bottom: .4rem;
        font-size: 1.4rem;
        transition-duration: 0.4s;
    }

    .courses-list a:hover {
        background-color: white;
        color: rgb(76, 185, 228);
    }

    .courses-grid {
        display: none;
    }
}

/* Exhibition section */

.flex {
    display: flex; 
    justify-content: space-between;
}

.left-section video {
    width: 100%;
    object-fit: contain;
}

.exhibits h6 {
    padding-top: 1.33rem;
}

.exhibits .first-info {
    margin-top: 1.77rem;
}

.exhibits .box img {
    width: 35%;
    padding: .88rem;
}

.exhibit {
    background: rgba(178, 158, 80, 0.3);
}

.exhibits p {
    padding-top: .88rem;
}

@media only screen and (max-width: 480px) {
    .exhibits .container {
        width: 100%;
    }

    .flex .left-section {
        width: 100%;
        padding: 0px;
    }

    .flex .left-section h6 {
        display: none;
    }

    .flex .left-section p {
        display: none;
    }

    .flex .right-section {
        display: none;
    }
}

/* Footer section */

footer {
    border-top: 1px solid #DCDCDC;
    background-color: white;
    height: 3.5rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .75rem;
}

footer p {
    padding: 0 1.33rem;
    color: #383838;
}

.footer-nav a {
    display: inline-block;
    padding-right: .88rem;
    color: #383838;
    font-size: .75rem;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}

.footer-nav a:hover {
    color: rgb(76, 185, 228);
}

@media only screen and (max-width: 480px) {
    footer .footer-nav {
        display: none;
    }

    footer p {
        padding: .8rem 1.33rem;
    }
}

