/* Universal Styles */

html {
    font-size: 18px;
}

body {
    font: 'Ubuntu' , sans-serif;
    font-size: 1rem;
    background-color: white;
}

.container {
    max-width: 960px;
    margin: auto;
}

.left-section {
    width: 60%;
    padding: 1.77rem 1.33rem;
}

.right-section {
    width: 24.44rem;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Section */

header {
    background-color: white;
}

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.55rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    height: 1.77rem;
    padding-left: 1.33rem;
}

.colmar {
    font-size: 1rem;
    font-weight: 750;
}

.academy {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}